* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(38, 39, 52);
}
.titulo {
    color: rgb(235, 217, 193);
    font-family: 'Ubuntu', sans-serif;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
}
.titulo span {
    color: rgb(84, 84, 202);
}
.box {
    color: rgb(235, 217, 193);
    text-decoration: none;
    padding-top: 10px;
    transition: 0.7s;
}
.box:hover {
    font-size: 18px;
}
.menu {
    width: 100%;
    height: 100px;
    padding-left: 10px;
    background-color: rgba(0, 0, 0, 0.784);
    margin: 0px auto;
    padding-top: 30px;
    position: sticky;
    display: grid;
    grid-template-columns: auto auto auto auto auto;
}
.destinos {
    text-decoration: none;
    color: rgb(235, 217, 193);
    padding-top: 10px;
    transition: 0.7s;
}
.destinos:hover {
    font-size: 18px;
}
.experiencias {
    text-decoration: none;
    color: rgb(235, 217, 193);
    padding-top: 10px;
    transition: 0.7s;
}
.experiencias:hover {
    font-size: 18px;
}
.paquetes {
    color: rgb(235, 217, 193);
    text-decoration: none;
    padding-top: 10px;
    transition: 0.7s;
}
.paquetes:hover {
    font-size: 18px;
}
.info {
    color: rgb(235, 217, 193);
    text-decoration: none;
    padding-top: 10px;
    transition: 0.7s;
}
.info:hover {
    font-size: 18px;
}
.inicio-contenedor {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 300px 344px;
    justify-content: stretch;
}
.item1 {
    text-decoration: none;
    grid-column: 1/4;
    color: rgb(235, 217, 193);
    justify-self: center;
    align-self: center;
    font-size: 60px;
    font-family: 'Ubuntu', sans-serif;
    transition: all .4s;
}
.item1:hover {
    color: rgb(84, 84, 202);
}
.item2 {
    color: rgb(235, 217, 193);
    grid-column: 4/5;
    grid-row: 1/3;    width: 100%;
    background-image: url(../img/yosemite2.jpg);
    background-size: cover;
}
.item3 {
    grid-column: 1/4;
    grid-row: 2/3;
    width: 100%;
    background-image: url(../img/grandcanyon2.jpg);
    background-size: cover;
}
.destinos-contenedor {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 300px 300px 300px;
    justify-content: stretch;
}
.suiza {
    grid-column: 1/4;
    width: 100%;
    background-image: url(../img/suiza3.jpg);
    background-size: cover;
    transition: all .7s;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}
.suiza:hover {
    width: 103%;
}
.destinos-texto {
    color: rgb(235, 217, 193);
    grid-column: 4/5;
    grid-row: 1/3;    
    color: rgb(235, 217, 193);
    justify-self: center;
    align-self: center;
    font-size: 60px;
    font-family: 'Ubuntu', sans-serif;
    writing-mode: vertical-rl;
}
.italia {
    grid-column: 1/4;
    grid-row: 2/3;
    width: 100%;
    background-image: url(../img/italia2.jpg);
    background-size: cover;
    transition: all .7s;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}
.italia:hover {
    width: 103%;
}
.polonia {
    grid-column: 1/3;
    grid-row: 3/4;
    width: 100%;
    height: 100%;
    background-image: url(../img/polonia.jpg);
    background-size: cover;
    transition: all .7s;
}
.polonia:hover {
    height: 104%;
    border-bottom-right-radius: 6px;
}
.brasil {
    grid-column: 3/5;
    grid-row: 3/4;
    height: 100%;
    background-image: url(../img/brasil.jfif);
    background-size: cover;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    transition: all .7s;
}
.brasil:hover {
    height: 104%;
    border-bottom-left-radius: 6px;
}
@media (max-width: 768px) {
    .menu {
        width: 100%;
        height: 150px;
        padding-left: 10px;
        background-color: rgba(0, 0, 0, 0.784);
        margin: 0px auto;
        position: sticky;
        display: grid;
        grid-template-columns: 25% 25% 23% 27% ;
        grid-template-rows: 50px 50px;
    }
    .titulo {
        grid-column: 1/2;
        grid-row: 1/3;
        align-self: center;
    }
    .destinos {
        grid-column: 3/4;
        text-decoration: none;
        color: rgb(235, 217, 193);
    }
    .experiencias {
        grid-column: 4/5;
        grid-row: 1/2;
        text-decoration: none;
        color: rgb(235, 217, 193);
        justify-self: left;
    }
    .paquetes {
        grid-column: 3/4;
        grid-row: 2/3;
        color: rgb(235, 217, 193);
        text-decoration: none;
        align-self: center;
    }
    .info {
        grid-column: 4/5;
        grid-row: 2/3;
        color: rgb(235, 217, 193);
        text-decoration: none;
        align-self: center;
        justify-self: center;
        padding-left: 5px;
    }
}